.card-container {
  background-color: #fff;
  padding: 30px 20px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 100px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  p {
    font-size: 15px;
    line-break: anywhere;
    ion-icon {
      margin-right: 5px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 0.8px solid rgba(190, 190, 190, 0.8);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;

    &.edit {
      &:hover {
        background-color: rgba(26, 148, 255, 0.808);
        color: white;
      }
    }

    &.delete {
      &:hover {
        background-color: rgba(255, 0, 0, 0.821);
        color: white;
      }
    }
  }
}
