<div class="form-directory-container">
  <form novalidate [formGroup]="directoryForm" *ngIf="directoryForm">
    <label>
      <span>URL Imagen</span>
      <input type="text" formControlName="imagen" />
    </label>
    <label>
      <span>Nombre</span>
      <input type="text" formControlName="nombre" />
    </label>
    <label>
      <span>NIT</span>
      <input type="text" formControlName="nit" />
    </label>
    <label>
      <span>Dirección</span>
      <input type="text" formControlName="direccion" />
    </label>
    <label>
      <span>Teléfono</span>
      <input type="text" formControlName="telefono" />
    </label>
    <label>
      <span>Celular</span>
      <input type="text" formControlName="celular" />
    </label>
    <label>
      <span>Correo electronico</span>
      <input type="text" formControlName="correo" />
    </label>
    <button
      type="submit"
      (click)="handleForm()"
      [disabled]="!directoryForm.valid"
    >
      {{ cardEdit ? "Editar" : "Crear" }}
    </button>
  </form>
</div>
