/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
}

p {
  margin: 0;
}

input {
  border: 0;
  &:focus-visible {
    border: 0;
    outline: none;
  }
}
